*{
    margin: 0;
    padding: 0;
}
.headingStyle{
    background-color: purple;
    color: white;
    text-align: center;
    font-size: 3rem; 
}
.card{
    background-color: #ffda77;
    padding: 10px;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin: 10px;
    width: 390px;
    display: inline-block;
}
.card:hover{
    box-shadow: 2px 4px 4px greenyellow;
    cursor: pointer;
}
.cardTitle{
    text-align: center;
    margin-bottom: 5px;
}
.cardDesc{
    text-align: justify;
    margin-bottom: 5px;
}
.cardFooter{
    text-align: center;
    font-weight: bold;
}